body {
    background-color: #c5e9d8;
        color: #181862;
}
img {
    width: 200px;
}

div {
    background-color: #5885bb;
}
span {
    color: #09741a;
}

article {
    background-color: #d7d7d7;
}

header {
    border-bottom: solid grey 1px;
}
nav {
    padding: 10px;
    background-color: yellow;
    font-size: 35px;
    text-align: center;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px;
}